@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 16px;
	font-family: "Roboto", serif;
	transition: all 0.2s ease;
}

:root {
	--bg-primary: #0f0e17;
	--bg-secondary: #1c1b29;
	--bg-sidebar: #1c1b29;
	--bg-tertiary: #282744;

	--text-primary: #ffffff;
	--text-secondary: #a7a9be;
	--text-highlight: #ff8906;
	--text-logo: #48cf83;

	--border-color: #393649;

	--button-bg: #ff8906;
	--button-text: #ffffff;
	--button-hover-bg: #ffaa33;

	--button-green-bg: #48cf83;
	--button-green-hover-bg: #23e065;

	--button-blue-bg: #5746ea;
	--button-blue-hover-bg: #4291f7;

	--link-blue: #7273b5;
	--link-blue-hover: #f3f9ff;

	--card-bg: #1c1b29;
	--card-shadow: rgba(0, 0, 0, 0.5);

	--input-bg: #282744;
	--input-text: #ffffff;
	--input-border: #393649;
	--input-focus-border: #23e065;
}

.light-theme {
	--bg-primary: #ffffff;
	--bg-secondary: #f8f9fa;
	--bg-sidebar: #4a78f5;
	--bg-tertiary: #e9ecef;

	--text-primary: #212529;
	--text-secondary: #495057;
	--text-highlight: #ff8906;
	--text-logo: #fff;

	--border-color: #ced4da;

	--button-bg: #ff8906;
	--button-text: #ffffff;
	--button-hover-bg: #ffaa33;

	--button-green-bg: #48cf83;
	--button-green-hover-bg: #23e065;

	--button-blue-bg: #4a78f5;
	--button-blue-hover-bg: #3366ff;

	--link-blue: #fff;
	--link-blue-hover: #ffaa33;

	--card-bg: #f8f9fa;
	--card-shadow: rgba(0, 0, 0, 0.1);

	--input-bg: #ffffff;
	--input-text: #212529;
	--input-border: #ced4da;
	--input-focus-border: #4a78f5;
}

::-webkit-scrollbar {
	width: 0.25rem;
}

/* Track */
::-webkit-scrollbar-track {
	background: var(--bg-secondary);
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: var(--button-green-bg);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: var(--button-green-hover-bg);
	cursor: pointer;
}

body {
	background-color: var(--bg-primary);
	color: var(--text-primary);
	font-family: "Arial", sans-serif;
	margin: 0;
	padding: 0;
	height: 100vh;
	width: 100%;
}

main {
	display: flex;
	height: 100%;
}

svg {
	cursor: pointer;
}

.container {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}

.header {
	background-color: var(--bg-secondary);
	border-bottom: 1px solid var(--border-color);
	padding: 0.75rem 1.5rem;
	display: flex;
	flex-direction: column;
	flex-basis: 1;
}

.header__top,
.header__bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	flex: 1;
	padding: 0.35rem;
}

.header__search {
	display: flex;
	align-items: center;
	gap: 0.75rem;
	width: 66%;
}

.header__profile {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1.75rem;
}

.header__profile svg,
.svg-header {
	width: 1.25rem;
	height: 1.25rem;
	fill: var(--input-text);
}

.header__profile svg:hover,
.svg-header:hover {
	fill: var(--button-green-hover-bg);
}

.svg-header#menu-btn {
	height: 2rem;
	width: 2rem;
	cursor: pointer;
	display: none;
}

.profile-image-wrapper {
	border-radius: 50%;
	width: 2.75rem;
	height: 2.75rem;
	border: 1px solid transparent;
	overflow: hidden;
}

.profile-image-wrapper.profile-lg {
	width: 4.5rem;
	height: 4.5rem;
}

.header__profile span {
	font-size: 1rem;
	font-weight: 700;
}

.profile-image-wrapper .profile-image {
	width: inherit;
	height: inherit;
	object-fit: cover;
}

.profile-image-wrapper .profile-image:hover {
	scale: 1.2;
}

.profile-image-wrapper:hover {
	border-color: var(--button-green-hover-bg);
}

.header__user-info {
	display: flex;
	align-items: center;
	gap: 0.75rem;
	height: 100%;
}

.user-info {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 100%;
}

.user-info p,
.user-info h4 {
	color: var(--text-secondary);
}

.user-info p {
	font-weight: 400;
	letter-spacing: 1px;
	font-size: 0.75rem;
}

.user-info h4 {
	font-size: 1.5rem;
	font-weight: 700;
}

.user-info h4 span {
	font-size: 1.5rem;
	font-weight: 400;
}

.header__options {
	display: flex;
	gap: 1.75rem;
}

.sidebar {
	background-color: var(--bg-sidebar);
	color: var(--text-secondary);
	padding: 0.75rem;
	height: 100%;
	display: flex;
	flex-direction: column;
	gap: 2.75rem;
}

.sidebar.active {
	left: 0;
}

.sidebar__header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.sidebar__header h1 {
	font-size: 2.75rem;
	color: var(--text-logo);
}

.sidebar__header .logo {
	height: 100%;
	width: 2.75rem;
	fill: var(--text-logo);
}

.sidebar__navigation ul li {
	list-style: none;
	margin-bottom: 0.75rem;
	padding-left: 0.75rem;
}

.sidebar__navigation ul li a {
	text-decoration: none;
	display: flex;
	align-items: center;
	gap: 1.75rem;
}

.sidebar__navigation ul li a svg.nav-icon {
	width: 1.25rem;
	height: 1.25rem;
	fill: var(--link-blue);
}

.main-content {
	background-color: var(--bg-primary);
	color: var(--text-primary);
	padding: 1.75rem 1.75rem 0 1.75rem;
	display: flex;
	gap: 1.75rem;
}

.projects {
	flex: 1 1 0;
}

.projects__list {
	display: grid;
	grid-template-columns: repeat(auto-fiLL, minmax(22rem, 1fr));
	grid-template-rows: repeat(3, 1fr);
	grid-auto-rows: 1fr;
	gap: 1.75rem;
	padding-right: 1.75rem;
	overflow-y: auto;
	height: calc(100vh - 16.1rem);
}

.feed-section {
	width: 20rem;
	display: flex;
	flex-direction: column;
	gap: 1.75rem;
	height: calc(100vh - 13.4rem);
	padding-right: 1rem;
	overflow-y: auto;
}

.new-list,
.trending-list {
	background-color: var(--card-bg);
	color: var(--text-primary);
	box-shadow: 0 4px 8px var(--card-shadow);
	padding: 1.5rem;
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.trending-list {
	overflow: hidden;
	flex-grow: 1;
}

.feed-section__trending {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
}

.trending-list__item {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.feed-section__trending p {
	font-size: 0.85rem;
	letter-spacing: 1px;
	color: var(--text-secondary);
}

.avatar-wrapper {
	height: 2.75rem;
	border-radius: 50%;
	aspect-ratio: 1/1;
}

.avatar-wrapper img {
	height: 2.75rem;
	width: 2.75rem;
	object-fit: cover;
	border-radius: 50%;
}

.feed-section h1,
.projects h1,
.card__text h2 {
	font-size: 1.25rem;
	font-weight: 500;
	letter-spacing: 2px;
	color: var(--text-primary);
}

.projects h1,
.feed-section h1 {
	padding-bottom: 1rem;
}

.new-list h2 {
	text-transform: capitalize;
}

.card {
	background-color: var(--card-bg);
	color: var(--text-primary);
	border-left: 0.75rem solid var(--button-bg);
	border-radius: 8px;
	box-shadow: 0 4px 8px var(--card-shadow);
	padding: 1.75rem 1rem;
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

.card:hover {
	border-left: 1.5rem solid var(--button-green-hover-bg);
}

.card__text {
	height: 100px;
	overflow: hidden;
}

.card .card__text p,
.new-list p {
	margin-top: 0.75rem;
	font-size: 0.85rem;
	letter-spacing: 1px;
	color: var(--text-secondary);
}

.card .card__links {
	display: flex;
	justify-content: flex-end;
	gap: 1rem;
	margin-top: auto;
}

.card-icon {
	height: 2.5rem;
	width: 2.5rem;
	fill: var(--text-primary);
	padding: 0.5rem;
	border-radius: 50%;
	cursor: pointer;
}

.card-icon:hover {
	background-color: var(--bg-primary);
	fill: var(--link-blue-hover);
}

button {
	background-color: var(--button-bg);
	color: var(--button-text);
	border: none;
	border-radius: 2.75rem;
	padding: 0.5rem 1.5rem;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

button:hover {
	background-color: var(--button-hover-bg);
}

button.green {
	background-color: var(--button-green-bg);
}

button.green:hover {
	background-color: var(--button-green-hover-bg);
}

button.blue {
	background-color: var(--button-blue-bg);
}

button.blue:hover {
	background-color: var(--button-blue-hover-bg);
}

a {
	color: var(--link-blue);
	text-decoration: none;
}

a:hover {
	color: var(--link-blue-hover);
}

.search-btn {
	fill: var(--input-text);
	height: 1.5rem;
	width: 1.5rem;
}

.search-btn:hover {
	fill: var(--button-green-hover-bg);
}

input {
	background-color: var(--input-bg);
	color: var(--input-text);
	border: 1px solid var(--input-border);
	border-radius: 2.75rem;
	padding: 0.5rem 1rem;
	transition: border-color 0.3s ease;
	width: 100%;
	max-width: 960px;
}

input:focus {
	border-color: var(--input-focus-border);
	outline: none;
}

@media (max-width: 1279px) {
	* {
		font-size: 14px;
	}

	.main-content {
		flex-direction: column;
	}

	.feed-section {
		width: 100%;
	}

	.projects__list {
		height: 50vh;
	}
}

@media (max-width: 1279px) {
	.sidebar {
		position: fixed;
		top: calc(100vh - calc(100vh - 125px));
		left: -100%;
	}

	.svg-header#menu-btn {
		display: block;
	}

	.feed-section {
		height: auto;
		margin-bottom: 2rem;
	}
}

@media (max-width: 680px) {
	.projects__list {
		height: auto;
		overflow-y: visible;
		padding-right: 0;
	}

	.header {
		gap: 1rem;
	}

	.header__profile span {
		display: none;
	}

	.header__top {
		gap: 2rem;
	}

	.header__search {
		width: 100%;
	}

	.header__bottom .header__user-info {
		display: none;
	}

	.header__options {
		justify-content: space-around;
		width: 100%;
	}

	.feed-section {
		padding-right: 0;
	}
}
